:root {
    --black: #000000;
    --white: #CDE8E5;
    --yellow: #FCF006;
    --grey: #89A19F;
}

html {
    font-size: 10px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--white);
}

* {
    font-family: 'inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pc_only {
    display: none;
}
.tablet_only {
    display: none;
}

#global_content {
    width: calc(100% - 42px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#banner {
    width: 100%;
    position: relative;
    height: 45px;
    border-radius: 27.5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 9px;
}
#banner #hover_effect {
    width: 80px;
    left: 0px;
    height: 26px;
    transition: 0.2s;
    background-color: var(--grey);
    border-radius: 25px;
    opacity: 0;
    position: absolute;
}
#banner .pc_menu div {
    transition: 0.2s;
}
#banner #main_bar:hover #hover_effect {
    opacity: 1;
}
#banner #main_bar {
    /* width: calc(100% - (9px + 45px) - 44px); */
    flex-grow: 1;
    height: 100%;
    padding-left: 22px;
    padding-right: 22px;
    background-color: var(--black);
    border-radius: 27.5px;
    display: flex;
    position: relative;
    align-items: center;
}
#banner #main_logo {
    height: 20px;
}
#banner #menu_button {
    width: 45px;
    aspect-ratio: 1/1;
    height: 45px;
    border-radius: 50%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
#banner #menu_button #line {
    height: 2px;
    width: 21px;
    background-color: var(--white);
    border: 2px;
}


#footer {
    padding-top: 100px;
    width: 100%;
}
#footer #gapped, #footer #texts {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
#footer h1 {
    font-size: 4.5rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
#footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#footer ul a {
    text-decoration: none;
}
#footer ul li {
    margin-top: 4px;
    font-weight: 500;
    color: var(--black);
    font-size: 1.6rem;
}

#social {
    display: flex;
    align-items: center;
    gap: 15px;
}
#social #platform {
    height: 59px;
    width: 59px;
    border: 1px solid var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#social #platform img {
    height: 20px;
}
#footer #fanner {
    height: 45px;
    width: 100%;
    background-color: var(--grey);
    border-radius: 40px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#fanner p {
    font-size: 1.4rem;
    color: var(--black);
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}
#fanner #btt {
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    border-radius: 50%;
    background-color: var(--black);
    margin-right: 3px;
}
#fanner #btt p {
    color: var(--white);
}

@media (min-width: 570px) {
    .tablet_only {
        display: block;
    }
    #fanner #btt {
        width: 170px;
        border-radius: 45px;
    }
    #fanner #btt p {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    #fanner #btt svg {
        display: none;
    }
    #cart_button {
        height: 45px;   
        width: 45px;
        background-color: var(--black);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 830px) {
    .tablet_only {
        display: none !important;
    }

    #banner a {
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 400;
        text-decoration: none;
    }
    #banner {
        height: 52px;
    }
    #banner #main_bar {
        width: 100%;
        max-width: 720px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        justify-content: space-between;
    }
    #banner #menu_button {
        display: none;
    }
    #banner #main_logo_parent {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #banner #left_menu, #banner #right_menu {
        width: calc(50% - 100px);
        display: flex;
        z-index: 2;
        align-items: center;
        justify-content: space-between;
    }
    #banner #left_menu {
        padding-left: 10px;
    }
    #banner #right_menu {
        padding-right: 10px;
    }

    #footer #fanner {
        height: 52px;
    }
    #footer #btt {
        width: 250px;
    }
    #footer #fanner #btt {
        height: 44px;
        margin-right: 4px;
    }
    #fanner p {
        margin-left: 20px;
    }
    #footer #gapped {
        width: calc(100% - 70px);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    
}