:root {
    --black: #000000;
    --white: #CDE8E5;
    --yellow: #FCF006;
    --grey: #89A19F;
}

#landing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(45svh + 100px);
    max-height: 600px;
}
.page_gap {
    padding-top: 100px;
}
#landing svg {
    width: 70%;
}
#page_content {
    width: 100%;
}
#landing #scrollDown {
    width: 130px;
    height: 41px;
    color: var(--white);
    font-size: 1.2rem;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 40px;
    margin-bottom: 8px;
}
#landing #dot_1 {
    width: 6px;
    height: 6px;
    margin-bottom: 4px;
    border-radius: 50%;
    background-color: var(--black);
}
#landing #dot_2 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--black);
}

#video video {
    width: 100%;
    border-radius: 25px;
}


#selling_points {
    margin-top: 15px;
    padding-bottom: 150px;
    display: flex;
    gap: 35px;
    flex-direction: column;
}
#selling_points #left {
    padding: 40px 25px;
    border-radius: 25px;
    background-color: #B4CFCD;
}
#selling_points #left h1 {
    font-weight: 400;
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}
#selling_points #left p {
    font-size: 1.4rem;
    padding: 0px;
    margin: 0px;
}
#selling_points #right {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1/1;
    margin-top: 50px;
    justify-content: space-around;
}
#selling_points #right div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#selling_points #right img {
    height: 60px;
}

#info {
    padding-top: 20px;
}
#info #part {
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    gap: 20px;
    border-bottom: 1px solid var(--black);
    flex-direction: column-reverse;
}
#info #part #flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
#info h1 {
    font-size: 3.2rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
#info p {
    font-size: 1.6rem;
    margin: 0px;
    padding: 0px;
}
#info #part button {
    background-color: var(--black);
    padding: 0px 27px;
    height: 38px;
    margin-top: 20px;
    border: 0px;
    border-radius: 38px;
    color: var(--white);
    font-size: 1.6rem;
}
#info #img {
    width: 40%;
    margin-left: auto;
}
#info #img img {
    width: 100%;
}

#products {
    width: 100%;
    /* height: 2000px; */
}
#products h1 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--black);
}
#products #sticky {
    width: 100%;
    /* height: 100svh; */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#products #progressBar {
    position: absolute;
    bottom: 50px;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #89A19F;
}
#products #progressBar #progress {
    width: 25%;
    height: 5px;
    box-shadow: 0 0 0 4px var(--white);
    border-radius: 5px;
    background-color: var(--black);
}
#products #sticky #content {
    width: 100%;
    height: calc(100% - 100px);
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: end;
}
#products #sticky #content h1 {
    padding-bottom: 5vh;
}

#products #trail {
    display: flex;
    align-items: center;
    justify-content: start;
    /* width: 100vw; */
    width: 100%;
    gap: 12px;
    /* margin-left: -20px; */
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
#products #trail::-webkit-scrollbar { 
    display: none;
}
#products #trail #product {
    /* aspect-ratio: 50/65; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #89A19F;
    border-radius: 34px;
}
@media (max-width: 900px) {
    #products #trail #product {
        min-width: 300px;
        max-width: 300px;
        height: 350px;
    }
}
#product button.on_wait p {
    opacity: 0;
}
@keyframes rotateAnimation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
#product button svg {
    opacity: 0;
    animation: rotateAnimation 0.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#product button.on_wait svg {
    opacity: 1;
}
#more_product {
    height: 50vh;
    aspect-ratio: 50/80;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
#more_product p {
    position: absolute;
    left: 50%;
    pointer-events: none;
    top: 50%;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--black);
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 0px;
    margin: 0px;
}
#trail a {
    color: var(--black);
}
#trail a:visited {
    color: var(--black);
}
#more_product #button_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    filter: url(#gooey);
}
#more_product #button_content #top_ball, #bottom_ball {
    width: 45px;
    height: 45px;
    background-color: #89A19F;
    border-radius: 50%;
    transition: 0.2s;
}
#more_product #button_content:hover #button {
    /* background-color: #79A9A5; */
}

#more_product #button_content:hover #top_ball {
    transform: translateY(100%);
}
#more_product #button_content:hover #bottom_ball {
    transform: translateY(-100%);
}
#more_product #button_content #top_ball {
    transform: translateY(-25px);
}
#more_product #button_content #bottom_ball {
    transform: translateY(25px);
}
#more_product #button_content #button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #89A19F;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    font-size: 1.8rem;
}
#more_product #button_content:hover #top_ball {
    background-color: #96b1ae;
}
#more_product #button_content:hover #bottom_ball {
    background-color: #96b1ae;
}
#more_product #button_content:hover #button {
    background-color: #96b1ae;
}
#products #trail #product:first-child {
    margin-left: 20px;
}
#products #trail #product:last-child {
    margin-right: 20px;
}
#products #image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
#products #image img {
    width: 75%;
}
#products #text {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: calc(100% - 44px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 18px;
}
#products #text p {
    margin: 0px;
    color: var(--black);
    text-wrap: nowrap;
    width: max-content;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0px;
}
#products #text p#price {
    border-bottom: 1px solid var(--black);
}
#products #text #des {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

#products #text button {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--black);
    color: var(--white);
    text-wrap: nowrap;
    min-width: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    border: 0px;
    font-size: 1.4rem;
}
#products #text button p {
    width: 100%;
    text-align: center;
}


#ratings {
    width: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ratings #section_text #text {
    display: flex;
    gap: 15px;
}
#ratings #section_text #text h1 {
    margin: 0px;
    font-size: 4.8rem;
    font-weight: 500;
    padding: 0px;
}
#ratings #section_text #text h1:first-child {
    border-bottom: 3px solid var(--black);
}
#ratings #stars {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#ratings p {
    width: max-content;
    font-size: 1.4rem;
    margin: 0px;
    padding: 0px;
}
#ratings #section_reviews {
    height: 300px;
    background-color: var(--black);
    left: 0px;
    overflow-y: auto;
    max-width: 400px;
    transform: none;
    margin-top: 40px;
    border-radius: 23px;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
#ratings #section_reviews::-webkit-scrollbar { 
    display: none;
}
#ratings #section_reviews #review {
    width: calc(100% - 24px - 24px);
    padding: 12px;
    border-radius: 12px;
    margin: 12px;
    transition: 0.2s;
    background-color: #AAC6C3;

}
#ratings #section_reviews #review:hover {
    background-color: #C5DDDB;
}
#ratings #section_reviews #review p {
    font-size: 1.6rem;
}
#ratings #section_reviews #review #title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
#ratings #section_reviews #review #caption {
    width: 100%;
}
#ratings #section_reviews #review #caption p {
    width: 100%;
}

#faq {
    margin-bottom: 100px;
}
#faq p#title {
    font-size: 1.6rem;
    margin-bottom: 30px;
    padding: 0px;
    margin-left: 25px;
}
#faq ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#faq ul li {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    margin-bottom: 9px;
}
#faq ul li #title {
    background-color: #aac6c300;
    margin: -20px;
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#faq ul li #title #shape {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid var(--black);
    position: relative;
}
#faq ul li #title #shape #line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 1px;
    transition: 0.2s;
    background-color: var(--black);
    transform: translate(-50%, -50%);
}
#faq ul li #title #shape #line:first-child {
    
    transform: translate(-50%, -50%) rotate(90deg);
}
#faq ul li.active #title #shape #line:first-child {
    transform: translate(-50%, -50%) rotate(180deg);

}

#faq ul li.active #title {
    background-color: #aac6c3;
}
#faq ul p {
    font-size: 1.6rem;
    margin: 0px;
    padding: 0px;
}
#faq ul li #q {
    width: calc(100% - 50px);
    padding: 25px;
    border: 2px solid var(--black);
    border-radius: 27px;
}
#faq ul li #q #answer {
    max-height: 0px;
    max-width: 700px;
    overflow: hidden;
    transition: 0.2s ease;
}
#faq ul li #q #answer p:first-child {
    margin-top: 40px;
    padding: 0px;
    margin-bottom: 0px;
}
#faq ul li.active #q #answer {
    max-height: 100vh;
}




#others_page_content {
    padding-top: 100px;
}
#others_page_content h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 50px;
    max-width: 850px;
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
}
#others_page_content p {
    font-size: 2rem;
    max-width: 850px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
#others_page_content button {
    padding: 0px 32px;
    height: 52px;
    background-color: var(--black);
    border: 0px;
    border-radius: 50px;
    font-size: 2rem;
    color: var(--white);
    margin-top: 30px;
}
#page_404 {
    max-width: 500px;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
#page_404 h1 {
    font-size: 9rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
#page_404 p {
    font-size: 1.6rem;
    margin: 0px;
    color: var(--black);
    text-align: center;
    padding: 0px;
}
#page_404 p a {
    color: var(--black);
}
#page_404 button {
    padding: 0px 32px;
    height: 52px;
    background-color: var(--black);
    border: 0px;
    border-radius: 50px;
    font-size: 1.6rem;
    color: var(--white);
}


#products_page h1 {
    font-size: 4rem;
    font-weight: 400;
    padding-top: 100px;
}
#products_page #control {
    display: flex;
    width: 100%;
    gap: 15px;
    flex-direction: column;
}
#products_page #control #search {
    background-color: var(--black);
    width: 100%;
    max-width: 350px;
    height: 52px;
    border-radius: 50px;
}
#products_page #control #search input {
    height: 100%;
    width: calc(100% - 50px);
    font-size: 1.6rem;
    color: var(--white);
    padding: 0px 25px;
    background-color: transparent;
    border: 0px;
}
#products_page #control #search input::placeholder {
    color: var(--white);
}
#products_page #control #flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#products_page #control #flex #list_items {
    font-size: 1.4rem;
    color: var(--black);
    padding: 0px;
    margin: 0px;
}
#products_page #control #buttons {
    display: flex;
    gap: 12px;
    position: relative;
}
#products_page #control #buttons:hover #sort_options {
    max-height: 300px;
}
#products_page #control #buttons:hover svg {
    transform: rotate(180deg);
}
#products_page #control #buttons #sort_options {
    width: 200px;
    transition: 0.1s;
    border-radius: 20px;
    background-color: var(--black);
    position: absolute;
    right: 0px;
    top: 50px;
    max-height: 0px;
    overflow: hidden;
}
#products_page #control #buttons #sort_options ul {
    list-style-type: none;
    font-size: 1.4rem;
    padding: 25px;
    margin: 0px;
    color: var(--white);
    border: 1px solid #272727;
}
#products_page #control #buttons #sort_options ul:first-child {
    padding-bottom: 12.5px;
}
#products_page #control #buttons #sort_options ul:nth-child(2) {
    padding-top: 12.5px;
}
#products_page #control #buttons #sort_options ul li {
    margin: 0px;
    cursor: pointer;
    padding: 5px 0px;
    max-width: max-content;
}
#products_page #control #buttons #sort_options ul li #line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--white);
    max-width: 0px;
    transition: 0.1s;
}
#products_page #control #buttons #sort_options ul li.active #line {
    max-width: 100%;
    opacity: 0.6;
}
#products_page #control #buttons #sort_options ul li:hover #line {
    max-width: 100%;
}
#products_page #control #buttons .button {
    height: 44px;
    border-radius: 44px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0px 10px;
}
#products_page #products {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    gap: 17px;
}
#products_page #products #product {
    background-color: #89A19F;
    border-radius: 30px;
    /* padding: 5px; */
    /* aspect-ratio: 3/2; */
    width: calc(100% - 0px);
}
#products_page #products #product #image {
    width: 80%;
    margin: 20px auto;
}
#search {
    position: relative;
    overflow: hidden;
}
#reset_search {
    width: 42px;
    aspect-ratio: 1/1;
    transform: translateX(150%);
    display: flex;
    transition: 0.1s;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    position: absolute;
    top: 5px;
    border-radius: 50%;
    right: 5px;
}
#search.searched #reset_search {
    transform: translateX(0%);
}
#checkout {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding: 100px 0px;
}
#checkout h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
#checkout_cart #item {
    max-width: 500px;
}
#checkout_cart #item {
    width: calc(100% - 40px);
    max-width: 500px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--grey);
    display: flex;
}
#checkout_cart #item #delete {
    height: 40px;
    aspect-ratio: 1/1;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkout_cart #amount {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#checkout_cart .title {
    margin-top: 50px;
    font-size: 1.6rem;
}
#checkout_cart #item #description {
    flex-grow: 1;
    padding-left: 20px;
}
#checkout_cart #item #description p {
    font-size: 1.4rem;
}
#checkout_cart #item #img {
    height: 70px;
}
#checkout_cart #item #img img {
    width: 100%;
}
#checkout h3 {
    font-size: 1.6rem;
    width: calc(100% - 40px);
    background-color: var(--grey);
    border: 0px;
    border-radius: 50px;
    height: 40px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

#tutorial {
    padding-top: 100px;
    max-width: 1300px;
}
#tutorial iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
}
#tutorial h1 {
    font-size: 2rem;
    font-weight: 500;
}
#tutorial h2 {
    font-size: 3rem;
    font-weight: 500;
}
#tutorial p {
    font-size: 1.8rem;
    line-height: 130%;
}
#tutorial a {
    color: var(--black);
    text-decoration: underline;
}
#tutorial div {
    padding-bottom: 25px;
}

form#contact {
    width: 100%;
    max-width: 700px;

}
form#contact input {
    width: calc(100% - 50px);
    padding: 20px 25px;
    font-size: 1.4rem;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 50px;
    margin-bottom: 15px;
}
form#contact textarea {
    width: calc(100% - 50px);
    padding: 20px 25px;
    font-size: 1.4rem;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 30px;
    margin-bottom: 15px;
}
form#contact textarea::placeholder {
    color: var(--black);
}
form#contact input::placeholder {
    color: var(--black);
}
#contact_parent {
    position: relative;
    left: 50%;
    max-width: 700px;
    transform: translateX(-50%);
}
form#contact button {
    padding: 20px 35px;
    background-color: var(--black);
    border-radius: 35px;
    border: 0px;
    color: var(--white);
    font-size: 1.6rem;
}
#product_detail {
    display: flex;
    flex-direction: column-reverse;
}
#product_detail h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
} 
#product_detail p#price {
    font-size: 1.8rem;
    width: max-content;
    margin: 0px;
    border-bottom: 1px solid var(--black);
    padding: 0px;
}
#product_detail #images {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
#product_detail #images img {
    width: calc(100% - 50px);
    padding: 25px;
}
#product_detail #buttons {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 20px;
}
#product_detail button {
    background-color: var(--black);
    color: var(--white);
    border: 0px;
    border-radius: 50px;
    height: 49px;
    padding: 0px 20px;
}
#product_detail #buttons button:nth-child(2) {
    background-color: transparent;
    color: var(--black);
}
#product_detail #buttons button:nth-child(2) p {
    color: var(--black) !important;
    transition: 0.2s;
}
#product_detail #buttons button:nth-child(2):hover p {
    color: var(--white) !important;
}
#product_detail button svg {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotateAnimation 0.5s linear infinite;

    transform: translate(-50%, -50%);
}
#product_detail p#about {
    font-size: 1.6rem;
    margin-top: 50px;
}
#product_detail #products {
    margin-top: 120px;
}
#product_detail #products h1 {
    margin-bottom: 50px;
}

@keyframes rotateAnimation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
#product_detail button.on_wait svg {
    opacity: 1;
}
#product_detail button.on_wait p {
    opacity: 0;
}
@media (min-width: 430px) {
    #landing svg {
        width: 60%;
    }
    #selling_points #right {
        display: flex;
        aspect-ratio: auto;
        width: 100%;

    }
}
@media (min-width: 550px) {
    
    #landing svg {
        width: 40%;
    }
    #info #part {
        flex-direction: column;
        border: 0px;
    }
    #info #part h1 {
        font-size: 4rem;
        font-weight: 400;
        padding-top: 20px;
        border-bottom: 2px solid var(--black);
        width: max-content;
    }
    #info #part #flex {
        flex-direction: row;
        width: 100%;
    }
    #info #part #flex #img {
        width: 30%;
        margin-left: 0px;
        padding-left: 60px;
        max-width: 200px;
        padding-right: 70px;
        border-right: 1px solid var(--black);
    }
    #info #part #flex #caption {
        width: 70%;
        max-width: 550px;
        padding-left: 20px;
        padding-top: 20px;
    }
    
}
@media (min-width: 750px) {
    #checkout {
        flex-direction: row;
    }
    #checkout #items, #checkout #payment {
        width: 50%;
    }
    #products_page #products {
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    }
    #product_detail {
        flex-direction: row;
        max-width: 1280px;
    }
    .max1280 {
        max-width: 1280px;
    }
    #product_detail #details {
        width: 50%;
        margin-top: 100px;
    }
    #product_detail #images {
        width: 50%;
        margin-top: 100px;
    }
    #products_page.product_detail #products {
        grid-template-columns: calc(50% - 20px) calc(50% - 20px) !important;
    }
}
@media (min-width: 900px) {
    #selling_points {
        flex-direction: row;
        margin-top: 35px;
    }
    
    
    #selling_points #right {
        flex-grow: 1;
    }
    #products #sticky {
        min-height: 670px;
    }
    #products #trail #product {
        min-height: 400px;
    }
    #more_product {
        min-height: 400px;
    }
    #products_page #control {
        display: flex;
        flex-direction: row;
    }
    #products_page .button {
        padding: 0px 20px !important;
    }
    #products_page #products #product {
        border-radius: 45px;
    }
    #products_page #products #product #image {
        width: 90%;
        /* margin: 20px auto; */
    }

    #others_page_content #content  {
        width: calc(100% - 70px);
        padding-left: 35px;
    }
    #products #image img {
        width: 55%;
    }
    #page_404 p {
        font-size: 2.4rem;
    }
    #page_404 button {
        font-size: 2rem;
    }
    #landing svg {
        width: auto;
        height: 30%;
    }

    #video video {
        border-radius: 53px;
    }
    #products h1 {
        font-size: 4rem;
        font-weight: 400;
    }
    #products #trail #product {
        aspect-ratio: 2.7/2;
        height: 50vh;
    }
    #products #text p {
        font-weight: 400;
    }
    #ratings {
        flex-direction: row;
        gap: 25px;
    }
    #faq p {
        font-size: 2rem !important;
    }
    #faq ul li {
        margin-bottom: 12px;
    }
    #more_product {
        /* height: 50vh; */
        aspect-ratio: 50/50;
        color: var(--black);
    }
    #products_page #products {
        gap: 40px;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px); 
    }
}

@media (min-width: 1300px) {
    #selling_points #left {
        padding: 70px 50px;
    }
    #selling_points #left {
        max-width: 500px;
        border-radius: 53px;
    }
    #selling_points #left h1 {
        font-size: 3rem;
    }
    #selling_points #right {
        padding: 0px 100px;
        gap: 40px;
    }
    #selling_points #right p {
        font-size: 1.8rem;
    }
    #selling_points #right img {
        height: 70px;
    }
    #info #part h1 {
        font-size: 5rem;
    }
    #info #part p {
        font-size: 1.8rem;
    }
    #landing {
        height: 55vh;
    }
    #landing svg {
        height: 40%;
    }
    #products h1 {
        font-size: 5rem;
    }
    #products #trail #product {
        border-radius: 55px;
    }
    #products #text { 
        width: calc(100% - 66px);
        padding-bottom: 33px;
    }
    #products #text button {
        padding-left: 30px;
        padding-right: 30px;
    }
    #ratings #section_text #text h1 {
        font-size: 8rem;
        font-weight: 400;
    }
    #ratings #section_text svg {
        height: 60px;
    }
    #ratings #section_text #stars {
        margin: 18px 0px;
    }
    #ratings #section_reviews {
        max-width: 630px;
    }
    #ratings #section_reviews #review #title {
        padding-bottom: 25px;
    }
    #ratings #section_reviews #review {
        width: calc(100% - 40px - 40px);
        padding: 20px;
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #ratings #section_reviews #review:first-child {
        margin-top: 20px;
    }
    #ratings #section_reviews #review:last-child {
        margin-bottom: 20px;
    }
    #ratings #section_reviews {
        border-radius: 40px;
    }
    #ratings #section_reviews {
        height: 500px;
    }
    
}
@media (min-width: 1500px) {
    #selling_points #right img {
        height: 100px;
    }
}
@media (min-width: 1800px) {
    #products #trail #product:first-child {
        margin-left: 50px;
    }
    #products #trail #product:last-child {
        margin-right: 50px;
    }
    #products h1 {
        font-size: 6.4rem;
    }
    #products #text button {
        padding-left:40px;
        padding-right: 40px;
    }
    #products_page #products {
        gap: 40px;
        grid-template-columns: repeat(3, calc(33% - 20px))  ; 
    }
}

@media (min-width: 2200px) {
    #products_page #products {
        gap: 40px;
        grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px); 
    }
}
@media (min-width: 3200px) {
    #products_page #products {
        gap: 40px;
        grid-template-columns: calc(20% - 40px) calc(20% - 40px) calc(20% - 40px) calc(20% - 40px) calc(20% - 40px); 
    }
}
