{% extends 'base.html' %}

{% block content %}

{% block title %}Lungtank | Legal Information and Policies{% endblock %}
{% block description %}Review Lungtank’s legal information, including terms of service, privacy policy, and other essential agreements.{% endblock %}
{% block og_title %}Lungtank | Legal and Privacy Information{% endblock %}
{% block og_description %}Learn more about Lungtank’s legal policies, including our terms of service and privacy commitments to our customers.{% endblock %}
{% block twitter_title %}Lungtank | Legal and Privacy{% endblock %}
{% block twitter_description %}Review the legal and privacy policies that ensure your rights when purchasing from or engaging with Lungtank.{% endblock %}


<h1>Index Baby</h1>

{% endblock content %}