{% extends 'base.html' %}

{% block content %}

<div id="others_page_content" class="section">
    <div id="content">
        <h1>Refund Policy</h1>
        <p>Refund and Returns
            Due to Health and Safety we cannot accept returns for any Lung items that have initiated shipping to our customers. We maintain this policy to prevent potential contamination or alteration of our inventory. However, if you wish to cancel your order before it is shipped, we will gladly issue a refund. Please reach out to us at lungtankstore@gmail.com to initiate the process. We do not accept returns / refunds for change of mind. 
            <p>
            Late or missing refunds
            You will receive an email confirming the cancellation of your order as soon as we process your request. If you do not receive this email, please contact us at lungtankstore@gmail.com to confirm. Your refund may take up to five business days to appear in your account. If you have not received it after that period, please reach out to us at lungtankstore@gmail.com for assistance.
        </p>
        <p>
            Exchanges (if applicable)
            Due to sanitary concerns, we cannot accept returns for exchanges on any Lung items that have been delivered to our customers. We maintain this policy to prevent potential contamination or alteration of our inventory. However, you may modify your order before it is shipped, as long as it has not been sent out yet.</p>

        <a href="/contact">
            <button>Contact</button>
        </a>
    </div>
</div>

{% endblock content %}