{% extends 'base.html' %}
{% load static %}
{% block extra_body_class %}
<div id="back_button" onclick="window.history.back();" class="button_hover_effect_parent black">

    <div id="hover_effect"></div>
    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.5 14L1 7.5L7.5 1" stroke="#CDE8E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    <p class="pc_only">Back</p>                    
</div>
{% endblock extra_body_class %}

{% block content %}

<div id="tutorial" class="section">
    <div>
        <h1>Safety Visual Guide</h1>
        <iframe src="https://www.youtube.com/embed/pJKz9KzyJAs?si=rXuGLCKQmq2mIOPX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Setting up the Lung Tank</h1>
        <iframe src="https://www.youtube.com/embed/Ni0PDRDliuA?si=7lq9bE_8c8nJhY3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Setting up the Hand Pump</h1>
        <iframe src="https://www.youtube.com/embed/GAHOgCKWa9w?si=sRt_zkH9vx2osi16" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Refilling with the Hand Pump</h1>
        <iframe src="https://www.youtube.com/embed/EwGPbQQdg6Q?si=lpT4lHVaI8IGZC23" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>How to use the Lung Tank</h1>
        <iframe src="https://www.youtube.com/embed/M_h0pWvAhsQ?si=RQgYSpH4FXQppVj1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Adjusting Air Sensitivity</h1>
        <iframe src="https://www.youtube.com/embed/rAQV9jGrx_A?si=MGSqicYzX4rbfJTG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Replacing Filters</h1>
        <iframe src="https://www.youtube.com/embed/lTCuPzF2yro?si=ZgYZ5i6Qs6wg8bW9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Post-Use Care</h1>
        <iframe src="https://www.youtube.com/embed/uvDH7vOxiR0?si=kV9CX2iP3wrYILx5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h1>Air Travel Preparation</h1>
        <iframe src="https://www.youtube.com/embed/5lsrFGQXCzI?si=RIaVAo8htL6V5nVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

{% endblock content %}